.App {
  text-align: center;
  font-family: 'Fira Mono', sans-serif !important;
  overflow: hidden;
}

.card {
  width: 320px;
  height: 500px; 
  padding: 5px;
  margin: 20px;
  float: left;
  box-shadow: 3px 3px 3px 3px rgb(153, 150, 150);
  position: relative;
  bottom: 30px;
  text-align: center;
  display: inline;
  /* background: linear-gradient(45deg, rgb(135, 240, 214), rgb(29, 126, 182));; */
}
.boot{
  margin-bottom: 30px;
  left: 1.4%;
  position: relative;
  top: 8px;
  bottom: 1%;
}
.topHeader {
  margin-top: 100px;
}


.personal{
  text-align: center;
}

.jumbotron{
  margin-top: 20%;
}
.pesBut{
  width: 50%;
  margin-left: 10%;
}


.buttonCard {
  background: linear-gradient(
    45deg,
    rgba(34, 73, 180, 0.822),
    rgba(29, 126, 182, 0.5)
  );

  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  position: relative;
  left: 30px;
  
}
.botCon{
  position: absolute;
  bottom: 8px;
  right: 27%;
  display: flex;
  justify-content: center;
}

.priceCon{
  left: 20%;
  right: 27%;
  background-color: rgba(0, 0, 0, 0.247) ;
  color: whitesmoke;
  font-weight: bold;
}


/* ================ */

.card-3{
  width: 50%;
}

.newSeller{
  height: 40px;
  margin-bottom: 20px;
  /* display: inline-block; */
  width: 50%;
}
.newSellerLable{
  margin-right: 20px;
}


.newSellerPage{
  display: grid;
  justify-content: center;

}




.wel{
  position: relative;
 top: 80px;
  color: black;
  text-align: center;
  animation-name: anim;
  animation-direction: alternate-reverse;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes anim {
  0% {
    display: none;
    color: rgba(26, 165, 158, 0.842);
   
  }

  100% {
    color: rgb(41, 111, 177);
    
  }
}
.cardInfo
{
  width: 800px;
  height: 900px !important;
  margin-bottom: 30px;
  left: 20% !important;
  position: relative;
  top: 8px;
  bottom: 1%;
  
}

.pItem{
  margin-bottom: 0px;
  position: relative;
  top: 25px;
  margin-right: 10px;
}

.sellCard{
  color: #bd0d0d;
  
  font-weight: bolder;
  font-size: 20px;
}

.ItemAdd{
  color: #0f8c64;
  font-weight: bolder;
}


.heart:hover{
  color: red;
}
